.square{ 
    display: inline-block;
    border-color: black;
    height: 50px;
    width: 50px;
    border-radius: 1px;
    border-style: solid;
    vertical-align: top;
    text-align: center;
    font-family: 'MV Boli';
    font-size: xx-large;    
}

#board {
    text-align: center;
}