form input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

label {
  /* vertical-align: middle; */
  color: #575ed8;
  font-size: large;
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}
